<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.glxn">
    <application android:icon="@drawable/glxn" android:label="Sudoku Solver">
        <activity android:name=".SudokuSolver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".About"
                  android:label="@string/about_label"
                  android:theme="@android:style/Theme.Dialog"/>
    </application>
</manifest>
